.group {
  min-width: 282px;
  min-height: 361px;
  margin: 0;
  padding: 36px 19px 48px;
  display: grid;
  grid: 1fr / auto;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .group {
    padding: 48px 0 67px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px 17px;
  }
}


@media screen and (min-width: 1280px) {
  .group {
    min-width: 882px;
    grid-template-columns: repeat(3, 1fr);
  }
}