.underline {
  margin: 0 0 40px 0;
  width: 100%;
  max-width: 880px;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 1280px) {
  .underline {
    margin: 0 0 37px 0;
  }
}