.profile__add-button {
  margin: 36px auto 0;
  padding: 17px 131px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #000000;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .profile__add-button {
    margin: 0 0 0 auto;
    padding: 12px 62px;
  }
}